<?xml version='1.0' encoding='utf-8'?>
	
	<!--<icon src="img/calis.png" gap:platform="android" width="57" height="57" />
	<gap:splash src="img/calis.png" gap:platform="android" gap:density="ldpi" />-->
<widget id="com.example.prueba1" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>prueba1</name>
    <description>
		Ejemplo de Apache Cordova respondiendo cuando el dispositivo esta listo.
    </description>
    <author email="cesar@rider.mx" href="http://rider.mx">
        RIDER Team
    </author>
	<gap:platform name="android" />
    <content src="index.html" />
    <access origin="*" />
</widget>
